/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /* h2, h3{color: blue;}   */

 .tbl table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tbl th, .tbl td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .tbl tr:hover {background-color:#f5f5f5;}



  #import-progress {
    width: 100%;
}
#import-progress td, #import-progress th {
    padding: .5em 1em;
}
#import-progress td.status, #import-progress th.status {
    width: 32px;
}
#import-progress td.row, #import-progress th.row {
    width: 3em;
    text-align: center;
}
#import-progress td.reason, #import-progress th.reason {
    text-align: center;
}
#import-progress td.name{
  text-align: center;
}
#import-progress tr.importer-loading td {
    background: url(../images/wf-ajax-loader.gif) no-repeat center center;
    height: 32px;
}

#import-progress .skipped td {
    border-bottom-color: #dbcb83;
    background: #f2ecd2;
}
#import-progress .failed td {
    border-bottom-color: #e6adaa;
    background: #f2d3d2;
}
#import-progress mark.result {
    height: 0;
    display: block;
    line-height: 16px;
    overflow: hidden;
    padding: 16px 0 0 0;
}

#import-progress .complete td {
    background: #000;
    border-color: #000;
    border-top: 4px solid #000;
    color: #fff;
    font-size: 1.5em;
    padding: .95em 1em 1em;
    text-align: center;
}
#import-progress .regenerating td {
    padding: 0;
}
#import-progress .regenerating div.progress {
    background: #464646;
    padding: .95em 1em 1em;
    color: #fff;
    overflow: hidden;
    width: 0;
    float: left;
    text-align: left;
    white-space: nowrap;
}

#datagrid  { border-collapse: collapse; text-align: left; width: 20%; }
#datagrid {
    background: #fff; overflow: hidden; 
}
#datagrid  td{ padding: 3px 20px; }
#datagrid  th { padding: 8px 25px; color: #fff; background-color: #ccc; font-weight: bold;font-size: 15px; }
/* #griddata  td{ padding: 3px 10px; }
#griddata  th { padding: 8px 25px; } */
.outer{
    background: #fff;
    margin-top: 15px;
    margin-right: 10px;

}

.inner{
    padding: 8px 25px;
}

.display_title{
    margin-right: 15px;
}
